[2021-07-11 20:25] gunnarmorling opened #1 "Add support for pause/resume"
As requested by @hpgrahsl, the following should work:

    kcctl pause my-connector/0
    kcctl resume my-connector/0

[2021-07-11 20:29] gunnarmorling opened #2 "Display task offsets"
Upon _kcctl describe my-connector_, the task offsets should be shown. This will require to expand the notion of the configuration context, also allowing for the specification of Kafka bootstrap server URLs and the name of the offset topic.

[2021-07-11 20:29] gunnarmorling opened #3 "Implement kcctl config get-context"

[2021-07-11 20:31] gunnarmorling opened #4 "Add option to display task configurations"

[2021-07-11 21:47] gunnarmorling opened #5 "Show connector and task status in a colored way"
RUNNING should be show green.
FAILED should be shown red.

It seems the table library stumples upon ANSI color code though.

[2021-07-12 09:15] gunnarmorling commented on #5
Implemented for RUNNING and FAILED; should show PAUSED in yellow once implemented.

[2021-07-12 09:16] gunnarmorling opened #6 "Categorize configuration properties"
Connector props should be shown in a grouped way:

* converter properties
* SMTs
* predicates
* topic creation config
* regular connector options

[2021-07-12 21:10] aalmiray opened #7 "Add version flag to CLI"
Picocli allows `-V` and `--version`

https://picocli.info/#_mixin_standard_help_options

[2021-07-13 05:19] gunnarmorling commented on #7
Ah yes, good idea. PR welcome :)

[2021-07-13 06:59] gunnarmorling opened #8 "Add functionality for resetting connector offsets"
See https://github.com/helpermethod/connect-offset-reset/ by @helpermethod.

This will require to expand the config context, allowing to specify Kafka cluster bootstrap URL and name of the offset topic.

[2021-07-13 07:01] gunnarmorling commented on #8
@helpermethod, in case you're interested in collaborating, let me know and I can make you a committer to this repo.

[2021-07-13 07:05] helpermethod commented on #8
Would love to!

[2021-07-13 08:22] gunnarmorling opened #9 "Allow to set log levels dynamically"
See https://rmoff.net/2020/01/16/changing-the-logging-level-for-kafka-connect-dynamically/

[2021-07-13 10:36] aalmiray opened #10 "Publish binaries"
Leverage https://jreleaser.org to publish Native Image binaries to a GitHub release.
Should configure 2 types of releases:
- a rolling snapshot release, i.e,`1.0.0-early-access`
- a stable release, i.e, `1.0.0.Alpha1`

[2021-07-13 11:06] helpermethod opened #11 "Use Jansi for ASCII escape codes"
The class `Colors` is not strictly needed, as `picocli` already includes Jansi, which already handles ASCII escape codes.

E.g.
    printTuples(Arrays.asList(new Tuple(ANSI_WHITE_BOLD + "Config" + ANSI_RESET, "")));

could be replaced with

    printTuples(Arrays.asList(new Tuple(Ansi.AUTO.string("@|white,bold Config|@, "")));

This also handles things like checking for TTY.

[2021-07-13 11:24] gunnarmorling commented on #10
Woot, woot. Thanks a lot for this initiative!

[2021-07-13 11:26] gunnarmorling commented on #11
Oh, very nice, wasn't aware of that. I had come across Jansi, but decided against using it for the sake of adding another dependency. If Picocli relies on it anyways, then we definitely can use it, provided it plays well with native mode.

[2021-07-13 19:04] aalmiray commented on #10
PR #12 addresses publication of Native Image binaries for Linux, Windows, and OSX on Intel arch. Additional binaries may be published such as:
- a Java based binary distribution. Requires a Java 11+ installation.
- jlink distributions. Bundle a minimal Java runtime. Can target any platform for which a JDK can be downloaded (Zulu 16+ builds support Apple Silicon for example)

These additional binar

[2021-07-13 19:08] #10 closed

[2021-07-13 19:14] gunnarmorling commented on #10
Thanks a lot; I think for now, the native binaries are the way to go; for a snappy experience, in particular when it comes to TAB completions, the fast start-up just makes the difference.

[2021-07-13 21:40] riferrei opened #13 "Option to test connectors without deploying them"
Apache Pulsar also has a CLI that allows developers to handle connectors with ease. There is an option, though, that also allows developers to test connectors without fully deploying them. It is called [locarun](https://pulsar.apache.org/docs/en/io-cli/#localrun).

An example of usage of this functionality can be seen in the following video:

https://youtu.be/60x5eMeBEyI?t=1399

It would be very n

[2021-07-14 07:02] gunnarmorling opened #14 "Publish binaries via sdkman"
@aalmiray knows more about the details :)

[2021-07-14 07:04] gunnarmorling commented on #13
Thanks for logging this, a very interesting idea. Some things we'll need to think about:

* This likely would only work in JVM mode, as additional code needs to be loaded dynamically (perhaps _kcctl_ might spin up a separate JVM with the connector)
* For source connectors, records could be simply printed out on the CLI; how would it work for sink connectors, would the user have to specify records,

[2021-07-14 07:06] gunnarmorling commented on #8
Thinking more about this, it'd probably make most sense to expose this as a sub-command of the delete command: _kcctl delete offsets \<task-name\>_. WDYT?

[2021-07-14 07:12] helpermethod commented on #8
Sounds like a good idea. Maybe I should quickly describe how the command is supposed to work:

- You pass in the list of broker URLs, the connector-name and the name of the connect offsets topic
- The command will then create a consumer, reads all partitions from the topic, and scans the keys for the connector name
- The keys is an array consisting of the connector name and some additional metadat

[2021-07-14 07:33] gunnarmorling commented on #8
Gotcha!

Most of this should happen by setting the context of the tool once:

    kcctl config set-context --cluster=my-connect:8083 --bootstrap-servers=my-kafka:9092 --offset-topic=my-offsets

(We probably should also add _--name_ parameter, allowing to switch between multiple named configurations).

And then:

    kcctl delete offsets my-connector

Re the scope of that command, I'm not 100% sure

[2021-07-14 07:51] aalmiray commented on #14
@gunnarmorling: please request access keys at https://sdkman.io/vendors#access
Once you have those keys you can add the following repository secrets:

- JRELEASER_SDKMAN_CONSUMER_KEY
- JRELEASER_SDKMAN_CONSUMER_TOKEN

I'll take care of updating the JReleaser configuration.

Also, would you like automatic tweets when a stable release is posted?

[2021-07-14 13:35] riferrei commented on #13
Yes, this is the idea. Pulsar does this by spinning up a thread that holds the context of the execution of the connector. Any dependencies would have to be loaded into that same classloader.

I think the best (and easy) way would be just focusing on the connector one-off deployment. For sources, checking if it is working would be just a matter of seeing if the records are being written into the Ka

[2021-07-14 20:16] sfc-gh-japatel opened #15 "Add option to change Log Level Dynamically"
https://docs.confluent.io/platform/current/connect/logging.html#using-the-kconnect-api
Instead of changing the logs by changing the log4j properties file, this connect API helps to change the log at runtime without restarting the connector.

Example usage:
[code]

May be w.r.t kcctl it can be
```kcctl logger --level DEBUG --class <Specific class or connector>```

Follow up
```kcctl logger get```

[2021-07-14 20:38] gunnarmorling commented on #15
Hey, yes, would definitely nice to have this. Had logged #9 for this requirement before. I think the read command should be

    kcctl get loggers
    kcctl get logger com.acme.MyConnect

for the sake of consistency with existing commands and the general idea of mimicking _kubectl_.

Re the write command adding a new first-level subcommand seems a bit heavy, but then, I don't see a compelling alte

[2021-07-14 23:46] sfc-gh-japatel commented on #15
Hey, sorry, I didnt search in issues.

Makes sense to follow the consistency, but I am not sure if changing the log level is counted as config parameter. So may be both are orthogonal?
(Connect has an API to alter the configuration but that requires json)

But ```kcctl patch logger <loggername> --level DEBUG``` makes sense to me.

[2021-07-14 23:51] sfc-gh-japatel commented on #15
Ahh, I see what you were referring to. So based on patch argument, we can decide which REST API to use.

[2021-07-15 05:54] sfc-gh-japatel commented on #2
This is how I do it on my machine.
[code]

I am missing something when you say configuration context.

[2021-07-15 06:48] gunnarmorling commented on #2
The idea is that you can use _kcctl_ to work with and switch between multiple "environments", i.e. Kafka Connect instances. Currently, they are just represented by the KC URL, but for the offset display/reset (see #8), we'd also need to add the Kafka bootstrap URL and name of the offset topic. I.e. like so:

[code]

Any commands subsequently executed, like `kcctl get connectors`, will always use t

[2021-07-16 06:26] sfc-gh-japatel commented on #15
`./mvnw compile quarkus:dev -Ddebug=6006`
Running Quarkus into debug mode, I get following error, so the server is not starting on 8080
[code]
What am I missing?

[2021-07-16 11:18] jmcristobal opened #17 "Add support for Authentication"
Allow to configure authentication method for the Kafka Connect cluster. I've done a quick test (clumpsy, I know) and works adding the ClientHeaderParam anotation at interface level. The values should be obtained from the configuration, obviously.

I'm not an expert in this REST Client library, and probably there is a better way to implement this solution.

Also, this is only covering BasicAuth and

[2021-07-18 13:16] helpermethod commented on #8
Hi @gunnarmorling!

Will probably take a week or two before I can start working on this.

The heavy rain here in NRW has flooded our basement and it will take a few days to recover from that 😕.

[2021-07-18 18:31] gunnarmorling commented on #8
Hey @helpermethod, doh, I'm really sorry to hear about this. I hope you and your family are safe? Needless to say that recovering this situation should have priority, and I hope you'll be able to bring everything into a proper state soon. Appreciating it very much that you took the time to send this note. Take care!

[2021-07-21 17:44] helpermethod commented on #8
Interesting! I've only used Kafka Connect with multiple workers, but never `max.tasks` to a value greater than `1`.
I'll need to test this out with multiple tasks.

A first step would be to delete `all` task offsets. This is probably the most common use case (you've messed something up and need to re-consume stuff).

[2021-07-22 10:45] helpermethod commented on #8
Hi @gunnarmorling,

regarding the Debezium documentation for removing committed offsets:
https://debezium.io/documentation/faq/#how_to_remove_committed_offsets_for_a_connector

It only mentions the connector name, but says nothing about per-task offsets. I'll need to try this out this evening and see if it actually makes any difference.

I still wonder how the input stream partitioning works. I gu

[2021-07-23 17:58] gunnarmorling commented on #8
Ah, yes good point. Most Debezium connectors currently support only a single task (the MongoDB one being the exception), hence we tend to be a bit lenient when talking about this and sometimes intermingle connectors and tasks. To make things clearer, here is the offset topic of the kcetcd connector, which supports multiple source tasks:

[code]

Taking a step back, what's relevant here is support

[2021-07-24 08:38] helpermethod commented on #8
Interesting!

It should only take a few small changes to make the code work with multiple entries. I already scan all partitions.

I guess resetting offsets for only a subset of the tasks wouldn't make much sense, as the metadata for identifying individual task offsets would wary between different connectors?

[2021-07-24 09:00] gunnarmorling commented on #8
+1; you'd have to know the connector-specific source partition id format; While we will expose this eventually via _kcctl describe_, I don't think a partition-specific reset is needed at this point. We always can add this later on.

[2021-07-24 10:01] gunnarmorling commented on #2
@helpermethod, in case you wanted to take a stab at offset reset, the change discussed here for expaning the configuration context probably should be the first step. It'll require just a little bit of care to read back the current file format if present, which just contains the KC cluster URL. We might not have to fully support it, but logging an error message in this case would be good: "spotted

[2021-07-24 10:03] gunnarmorling opened #19 "Allow to switch between contexts"
Having defined several named config context, it should be possible to show the current one and also switch:

[code]

[2021-07-24 10:03] gunnarmorling commented on #19
// CC @helpermethod for awareness.

[2021-07-25 09:29] gunnarmorling opened #20 "Move repo to kcctl organization"
Having a separate org is nicer in terms of collaboration.

@aalmiray, I've already created the org https://github.com/kcctl and am planning to move this repo over there. I assume this will require some changes to the release infra as well? Should I first do the move and you then do the required updates? Or the other way around? Thx a lot!

[2021-07-25 09:37] aalmiray commented on #20
Yes, the early-access workflow would need to update 1 condition. Please make the move fist then I'll update the references.

[2021-07-25 09:39] aalmiray commented on #20
Will https://github.com/gunnarmorling/kcetcd join the kcctl organization as well?

[2021-07-25 09:42] gunnarmorling commented on #20
Ok, will do. There's one pending PR which I'd like to get in first (will merge it in the course of the day), then I'll do the move.

Good question; I think I'll keep that where it is for now. I don't expect much collaboration around it at this point.

[2021-07-25 09:45] aalmiray commented on #20
OK. Will send a quick update to this repo's JReleaser setup before the move. Then another after the move.

[2021-07-25 09:48] gunnarmorling commented on #20
Excellent, thank you so much!

[2021-07-25 09:50] gunnarmorling opened #21 "Enable dev mode"
See https://github.com/quarkusio/quarkus/issues/18352; need to add at least one test for getting dev mode currently.

[2021-07-25 20:10] gunnarmorling commented on #15
Done. Thx, @sfc-gh-japatel!

[2021-07-25 20:10] #15 closed

[2021-07-25 20:16] gunnarmorling commented on #21
Done.

[2021-07-25 20:16] #21 closed

[2021-07-25 20:17] gunnarmorling commented on #20
@aalmiray, the repo is now under the kcctl org (I've also sent you an invite to join that org and revoked the previous individual access).

[2021-07-26 08:33] gunnarmorling commented on #20
@aalmiray, I think we can close this one, right?

[2021-07-26 08:34] gunnarmorling commented on #9
Duplicates #15.

[2021-07-26 08:34] #9 closed

[2021-07-26 08:34] gunnarmorling commented on #15
Pushed some more commits to make tab completion work too and also re-order commands a bit.

[2021-07-26 09:12] aalmiray commented on #20
Yup

[2021-07-26 09:37] gunnarmorling commented on #20
Thanks again!

[2021-07-26 09:37] #20 closed

[2021-07-26 09:38] gunnarmorling opened #23 "Add ability to validate a connector config"

[2021-07-27 00:03] sfc-gh-japatel commented on #2
I am happy to take this over if @helpermethod is fine with that. But I dont have any idea on how to achieve this? Is there a rest API which display current offsets? All I know is there is a `kafka-consumer-groups` shell script.
CC: @gunnarmorling

[2021-07-27 04:37] helpermethod commented on #8
Hi @gunnarmorling, I've got this working in kafka-connect-reset, which I currently use to prototype the functionality.

But now I face an interesting problem:
if there are 3 offsets, I need to send 3 tombstones to the corresponding partitions.

Should I send those in parallel and wait for all of them to finish? Should this be done in a transaction?

[2021-07-27 06:32] gunnarmorling opened #24 "Expand notion of configuration context"
In order to support display (#2) and reset (#8) of connector offsets, the concept of the configuration context should be expanded. We need to have the information about the Kafka bootstrap server(s) as well as the name of the offset topic. The suggestion is to introduce a notion of _named context_ which take all the required configuration and allowing the the user to switch between them (#19).

[2021-07-27 06:35] gunnarmorling commented on #2
@sfc-gh-japatel, thanks, you contribution would definitely be welcomed. Let's just wait to hear back from @helpermethod and see whether has made any progress, but I think he's more focused on the side of resetting offsets (#8).

A prerequisite for both, resetting and displaying offsets, will be expanding the `kcctl config set-context` command, so that it it also has parameters for bootstrap server

[2021-07-27 06:38] gunnarmorling commented on #8
That's an interesting question.

I don't think I'd bother with parallelizing this, doing it subsequentially should be good enough. I don't think a transaction is strictly needed, i.e. in case of a failure it seems acceptable if only a subset of the input partitions got reset. Using a transaction would be nice in theory, but IIRC, consumers need to read transactional topics with specific settings,

[2021-07-27 06:51] helpermethod commented on #2
Hi @sfc-gh-japatel,

feel free to implement the display offset part, I'll incorporate that into the reset 👍 .

For some inspiration on how to determine offsets, you can have a look [here](https://github.com/helpermethod/connect-offset-reset/blob/issue-36/src/main/java/com/github/helpermethod/connect/offset/reset/OffsetResetter.java).

There I already determine the task offsets before using those t

[2021-07-27 07:03] gunnarmorling commented on #2
@helpermethod, so I take it you haven't started with the work on #24 and @sfc-gh-japatel could pick this one up as a first step?

[2021-07-27 07:13] helpermethod commented on #2
Would be awesome if @sfc-gh-japatel would take on #24 :).

[2021-07-28 13:39] aalmiray opened #25 "Rename artifactId to kcctl"

[2021-07-28 13:42] aalmiray opened #26 "Configure JReleaser as a Maven plugin"
This will let anyone test out the release configuration without having the CLI pre-installed.

Requires JReleaser `0.6.0` as a minimum.

Must update release workflows as well.

[2021-07-28 14:04] gunnarmorling commented on #25
Ah yes, good point. Also, the group id should be "org.kcctl", I just reserved the kcctl.org domain name. I suppose I need to jump through some hoops to get that as a group id on Maven Central, right?

[2021-07-28 14:10] aalmiray commented on #25
That is correct. You'll have to file a ticket https://andresalmiray.com/publishing-to-maven-central-using-apache-maven/

[2021-08-02 08:10] gunnarmorling commented on #2
Hey @sfc-gh-japatel, @helpermethod, any news here on this issue, or the related ones? No pressure, I also can work on it myself, just wanted to check whether you got something already.

[2021-08-02 10:16] gunnarmorling commented on #2
That's certainly ok from my side :)

[2021-08-02 10:22] helpermethod commented on #24
Hi @gunnarmorling,

were you thinking of something like this

[code]

[2021-08-02 10:23] helpermethod commented on #24
I actually wonder if YAML (or TOML) wouldn't be a better fit for a human-editable config format. But I'm also fine with JSON.

[2021-08-02 10:28] gunnarmorling commented on #24
Yes, pretty much. Though I don't think the nesting for differentiating between AK and KC settings is even needed. I'd just go for a flat config:

[code]

I have no strong preference either way. I suggested JSON because it seemed good enough and Jackson works in GraalVM native binaries. If there's a YAML lib which does the same, then we can use that, too. Your call :)

[2021-08-02 14:06] #26 closed

[2021-08-02 16:29] sfc-gh-japatel commented on #2
Sorry, I havent yet started on #24

[2021-08-02 19:49] helpermethod commented on #24
Ah, I see, there's a Jackson JSON extension. I guess for making it work with Jackson YAML additional work is necessary, so it's probably best to stick with JSON :).

[2021-08-12 11:01] helpermethod commented on #24
Hi @gunnarmorling, I'm currently a little stuffed, but I hope to get back to the ticket this evening.

[2021-08-13 08:08] gunnarmorling opened #32 "Gracefully handle attempt to instantiate non-existent connector type"
Instead of showing the raw REST response, display the properly formatted list of available connector plug-ins.

[2021-08-13 12:36] gunnarmorling opened #33 "Publish a container image for kcctl to DockerGub"
Hey @aalmiray, is this something JReleaser would help with as well?

[2021-08-13 13:28] aalmiray commented on #33
Yup, JReleaser can make it happen

[2021-08-13 13:51] aalmiray commented on #33
@gunnarmorling we need the following information:

- a username/password for publishing to DockerHub. Store the password as a GitHub secret, I suggest using `KCCTL_DOCKER_PASSWORD`.
- a DockerHub repository. The computed default would be `kcctl/kcctl` but feel free to pick a different name.
- pick the base image. I think executables generated with Graal as we have them today require glibc, in whic

[2021-08-13 14:37] aalmiray commented on #33
Slight complication, the docker packager expects `.zip` or `.jar` files as inputs. We currently have `.tar.gz` for the Linux artifact. The quick workaround is to use the `.zip` produced by the build, making sure the zip file is not signed/released (which JReleaser 0.6.0 can do).

[2021-08-13 15:03] gunnarmorling commented on #33
I'll try and register the kcctl/kcctl repo. Re the base image, the Quarkus build can produce an image itself (either based on RHEL UBI, or distroless).

[2021-08-13 15:11] aalmiray commented on #33
That's the thing, at the moment JReleaser creates a Dockerfile based on a template, then creates the image, then published to a registry of your choice. It does not accept publishing a container image that was built from the outside, yet.

[2021-08-13 15:34] gunnarmorling commented on #33
Ok, I see. I suppose we still can use the existing Dockerfile, right? One other question: can we deploy to quay.io instead of DockerHub? It seems the latter requires a paid plan now for setting up new organizations :(

[2021-08-13 15:38] aalmiray commented on #33
Yes, we can deploy to Quai as well. You could setup a personal account at DockerHub, that's what I did for JReleaser, I did not migrate that account to org.

[2021-08-13 18:29] aalmiray commented on #33
https://github.com/jreleaser/jreleaser/issues/358 Prevents the use of the `quay.io/quarkus/quarkus-distroless-image:1.0` image however `registry.access.redhat.com/ubi8/ubi-minimal:8.4` may be used. These two images are the ones defined by the Quarkus templates.

[2021-08-13 19:32] gunnarmorling commented on #4
Initial implementation done via #31.

@mimaison, after playing around a bit with the feature, I ended up re-arranging the information a bit. Instead of this one:

- Tasks
- Config
- Tasks Config

It's now like this:

- Config
- Tasks

The tasks part shows the corresponding config if `--tasks-config` has been passed. I feel it's a bit more coherently organized that way. Closing this one as done wit

[2021-08-13 19:32] #4 closed

[2021-08-13 19:50] gunnarmorling opened #36 "Allow to update connector configuration via patch"
E.g. like this:

    kcctl patch connector etcd-test -p '{"tasks.max":3}'
    kcctl patch connector etcd-test -p '{"tasks.max":3, "database.name":"foo"}'

[2021-08-13 20:47] gunnarmorling commented on #25
@aalmiray, do we need to do any changes to the JReleaser config when changing the artifact id?

[2021-08-13 21:00] gunnarmorling opened #37 "Simplify generation of completion script"

[2021-08-13 21:43] aalmiray commented on #25
No, there’s no need. That’s the beauty of using the Maven plugin and convention-over-configuration, if the `artifactId` and `groupId` were to be used in any way by JReleaser their values would be taken directly from those defined in the pom at their standard location. Currently those values are not needed, you’re good to go.

[2021-08-14 10:17] SiddiqueAhmad commented on #37
sorry i forgot to add emoji,

[2021-08-14 11:55] SiddiqueAhmad commented on #37
kcctl describe connector is doing the auto completion, using ConnectorNamesCompletionCandidateCommand, is it what you were saying?

we need to do the one for task list, right ?

[2021-08-14 18:27] gunnarmorling commented on #7
Done.

[2021-08-14 18:27] #7 closed

[2021-08-14 18:48] gunnarmorling opened #44 "Have tests for kcctl"
Currently, no tests exist for kcctl at all. We should add tests for the different commands, so to avoid regressions down the road. As part of this task, we need to

* Understand how PicoCLI applications are tested; is their any guidance in their docs?
* Set up the infrastructure for integration tests via Testcontainers; we'll need to start up ZooKeeper, Kafka, and Kafka Connect for testing kcctl;

[2021-08-14 18:53] SiddiqueAhmad commented on #44
I setup the container resources class took help from debezium facing few issues, but we will do it

[2021-08-14 18:54] gunnarmorling commented on #3
Basic impl is in place. Will need more work as part of #24.

[2021-08-14 18:54] #3 closed

[2021-08-14 20:30] karim-elngr commented on #44
The picocli documentation provide some helpful insights into [writing unit tests](https://picocli.info/#_testing_your_application)

[2021-08-15 09:05] gunnarmorling opened #45 "Allow to restart tasks"
See https://docs.confluent.io/platform/current/connect/references/restapi.html#post--connectors-(string-name)-tasks-(int-taskid)-restart

[2021-08-15 09:08] gunnarmorling commented on #45
Doh, we have that already.

[2021-08-15 09:08] #45 closed

[2021-08-15 09:13] gunnarmorling commented on #5
Hey @karim-elngr, perhaps something for you to pick up now that pause/resume has been implemented?

[2021-08-15 09:16] gunnarmorling commented on #44
Thanks, @karim-elngr, so essentially we'd just do assertions on the output stream we've set before. Makes sense. We can throw AssertJ into the mix for more expressive assertions.

@SiddiqueAhmad, ok, excellent. Seems the way forward to having some first integration tests is pretty clear then.

[2021-08-15 09:17] gunnarmorling commented on #1
Done. Output coloring will be done via #5.

[2021-08-15 09:17] #1 closed

[2021-08-15 09:17] gunnarmorling commented on #32
Done.

[2021-08-15 09:17] #32 closed

[2021-08-15 09:19] gunnarmorling commented on #36
@SiddiqueAhmad, @karim-elngr, just in case you're looking for more things to pick up, this one could be an interesting one. It's about updating single properties of an already registered connector, instead of having to modify and apply the entire JSON file. Just an idea, please don't feel obligated in any way.

[2021-08-15 17:41] karim-elngr commented on #36
@gunnarmorling Awesome I would love to take care of this one

[2021-08-15 18:54] gunnarmorling commented on #36
It's all yours, thanks a lot :)

[2021-08-15 20:29] SiddiqueAhmad commented on #6
is there any doc where they are already shown under above categories ? Or we devise the group wise display and later we can link prop to categories

[2021-08-15 21:03] gunnarmorling commented on #6
I was thinking of the following groups to begin with:

* regular connector config properties
* converters and their properties
* SMTs and their properties
* topic creation setttings

[2021-08-16 15:11] karim-elngr commented on #36
I was trying to understand how to get this to work, and I think we can do the following

1- Get the configuration parameters via the REST API
2- Update the configuration parameters using the supplied argument
3- Send the new configuration parameters via the REST API

The configuration parameters argument can be used in two ways

1- A `String` as in the example above `-p '{"tasks.max":3, "database.

[2021-08-16 16:21] gunnarmorling commented on #36
Hey @karim-elngr, thanks for this great analysis!

+1

Thanks for bringing this up. So I was suggesting option 1 originally for consistency with _kubectl_, but indeed option 2 will be easier to use. In particular, we could offer auto completion (at least for the options already set). So +1 for going for option 2.

[2021-08-16 16:41] gunnarmorling commented on #37
I've pushed a commit for the first step described above, handling completions was just getting too unwieldy. What remains to be done is making completion generation an actual command of _kcctl_ itself.

[2021-08-16 17:22] karim-elngr commented on #44
I think this is worth mentioning that SDK man uses a very interesting BDD approach for testing, I wonder if there is a common approach to test cli tools

https://github.com/sdkman/sdkman-cli/blob/master/src/test/resources/features/java_installation.feature

[2021-08-16 17:26] SiddiqueAhmad commented on #36
same +1 for 2nd, I was thinking of same but @karim-elngr wrote it well

[2021-08-16 18:43] helpermethod commented on #24
Okay, finally found some time! I'm on it!

[2021-08-16 19:19] gunnarmorling commented on #24
Yeah! Note there's a command for returning the current context by now, too.

[2021-08-16 19:46] helpermethod commented on #24
Okay, the configuration if now written to `kcctl` in JSON format. Probably best to also pretty-print the JSON.

![image](https://user-images.githubusercontent.com/1562019/129620757-3d53a402-1271-45d9-9bb6-b3cc69331bda.png)

[2021-08-16 20:19] helpermethod commented on #24
Hi @gunnarmorling, while implementing the `set-cluster` part I've stumbled upon one little problem:

In order for other commands get the cluster URL, they need to know which context is currently the `active` one.

So I guess there needs to be some sort of top-level element in the JSON file, something like `current-context`. Wdyt?

[2021-08-16 20:21] helpermethod commented on #19
@gunnarmorling This requires a new field in `.kcctl` which contains the name of the current context. Maybe `current-context`?

[2021-08-16 20:31] helpermethod commented on #24
Making small but steady progress...

![image](https://user-images.githubusercontent.com/1562019/129625808-9369e530-c7eb-49ed-9719-acf22501daeb.png)

[2021-08-17 01:52] SiddiqueAhmad commented on #19
we should use the same commands style as here

kcctl config get-contexts                          # display list of contexts
kcctl config current-context                       # display the current-context
kcctl config use-context my-cluster-name           # set the default context to my-cluster-name
kcctl config set-context --current           # to set the context and also mark it as current one

[2021-08-17 02:07] SiddiqueAhmad opened #47 "Project on kcctl"
I am feeling that we should use project and kanban automated so we know which tasks should we do first and what are already in progress, is it possible, I can understand this will increase your workload, but I am seeing that it will reduce the confusions and double efforts

[2021-08-17 05:35] gunnarmorling commented on #24
file, something like current-context. Wdyt?

Yes, that, or an attribute like "is-active" which is set to true on one of
the registered contexts.

[2021-08-17 06:35] helpermethod commented on #24
IMHO the top-level element would be better because you could just read the element instead of having to iterate over all entries. It would also be more in line with tools like `kafkactl`.

[2021-08-17 06:39] gunnarmorling commented on #24
Sure, it's fine either way. Your call :)

[2021-08-17 07:11] gunnarmorling commented on #19
+1, on both accounts, @helpermethod, @SiddiqueAhmad.

[2021-08-17 09:02] gunnarmorling commented on #8
Just learned there's a [KIP](https://cwiki.apache.org/confluence/display/KAFKA/KIP-199%3A+Add+Kafka+Connect+offset+tool) related to this. I believe it has stalled, but would be interesting to read it through and see whether we can take some inspiration from it.

[2021-08-17 10:46] helpermethod commented on #8
Didn't know, very interesting!

[2021-08-17 10:48] helpermethod commented on #24
Another question: If the `.kcctl` file doesn't exist, *and* I create a new one with a context entry named, let's say, `local`, should that also become the new `currentContext` by default?

[2021-08-17 10:55] gunnarmorling commented on #24
Yes, I'd say so. In general, feel free to make a decision by yourself on
things like that. I can still bring up any concerns during code review if I
feel strongly about it.

[2021-08-18 07:49] gunnarmorling commented on #47
Ok, so I got to admit I'm not very keen on adding more "process" to kcctl at this point. It's a really small code base, with a few contributors mostly working on distinct parts. So far I feel that commenting on issues is good enough for having design discussions or stating the intend to pick up some task (you also can assign issues to yourself btw.).

Also, this is a side effort for all of us, so

[2021-08-18 08:03] SiddiqueAhmad commented on #47
agreed

[2021-08-18 08:03] #47 closed

[2021-08-18 15:38] hguerrero opened #49 "completion not working for ZSH using oh-my-zsh"
When copying the completlion file to ${ZSH}/completions using oh-my-zsh plugins no completion is available.

sourcing the file directly in `.zshrc` file works.

[2021-08-19 06:33] gunnarmorling commented on #19
There's now PR #48 by @helpermethod which puts the general concept scheme in place (essentially implementing `kcctl config set-context --current`). Once that's merged, we can make progress here along the lines described by @SiddiqueAhmad above.

[2021-08-19 17:28] gunnarmorling commented on #36
The main PR has been merged; leaving the issue open for adding the accompanying auto-completion too.

[2021-08-19 18:12] gunnarmorling commented on #5
Done.

[2021-08-19 18:12] #5 closed

[2021-08-20 20:16] helpermethod opened #51 "🤖 Add Dependabot for automating dependency updates"
Dependency updates for Maven and GitHub Actions should be automated. This lets us focus on the fun stuff 🎉 , while keeping dependencies up-to-date!

[2021-08-20 20:22] #51 closed

[2021-08-20 20:35] helpermethod opened #59 "📈 Create code coverage reports with JaCoCo and publish code coverage reports to Codecov"
It will help us to see which parts are untested and will allows us to add another beautiful status badge 😁.

[2021-08-21 04:34] SiddiqueAhmad commented on #6
Want to start on this weekend. Should I create one map for group and properties above? Any if already exists in kafka connect libs or it is new concept specific for kcctl

[2021-08-21 06:53] gunnarmorling commented on #6
I'm not exactly sure what you mean by this; I was think of something like the following, i.e. group the properties with new lines between the groups (putting comments in there just for sake of discussion, I don't think we necessarily have to put this sort of "label" to the actual output:

[code]

The different kinds and purposes of options exists as a concept in Kafka Connect. To properly organize

[2021-08-22 10:35] #59 closed

[2021-08-23 08:43] gunnarmorling opened #61 "Suppress stack trace in case of invalid configuration"
When trying to register a connector whose configuration is invalid, let's only display the actual validation error message(s), but not the stacktrace.

[2021-08-24 20:42] #24 closed

[2021-08-24 20:44] gunnarmorling commented on #19
The basic set-context implementation is in place now.

[2021-08-30 10:29] gcpcloudreddy opened #65 "In MAC kcctl binary is not working"
./kcctl info
javax.ws.rs.ProcessingException: RESTEASY003145: Unable to find a MessageBodyReader of content-type text/html;charset=utf-8 and type class dev.morling.kccli.service.KafkaConnectInfo

After setting the context am getting above error.

[2021-08-30 19:45] gunnarmorling commented on #65
Can you actually reach Kafka Connect from the machine where you're running kcctl? There should be no need for increasing any time-outs really, any requests should be fast and short-lived.

[2021-08-31 04:45] gcpcloudreddy commented on #65
Thanks for the reply

With INS environment , I can see get connectors working fine
But describe connector <connector name> giving below error
javax.ws.rs.ProcessingException: RESTEASY003145: Unable to find a MessageBodyReader of content-type */* and type class dev.morling.kccli.service.ErrorResponse
	at org.jboss.resteasy.core.interception.jaxrs.ClientReaderInterceptorContext.throwReaderNotFound(C

[2021-08-31 04:51] gcpcloudreddy commented on #65
From Kafka, I received below logs

[2021-08-31 13:43:59,973] ERROR Uncaught exception in REST call to /connectors/<name>/topics (org.apache.kafka.connect.runtime.rest.errors.ConnectExceptionMapper:61)
javax.ws.rs.NotFoundException: HTTP 404 Not Found
	at org.glassfish.jersey.server.ServerRuntime$1.run(ServerRuntime.java:250)
	at org.glassfish.jersey.internal.Errors$1.call(Errors.java:248)
	at org.

[2021-08-31 20:25] gunnarmorling commented on #65
Which version of Kafka Connect are you running? Something old by any chance?

[2021-09-01 06:31] helpermethod commented on #8
Hi @gunnarmorling, I'm getting back to it this evening.

[2021-09-01 07:03] gcpcloudreddy commented on #65
I use below version
kafka_2.12-2.4.0.tgz
"version":"2.4.0",

[2021-09-01 14:20] gunnarmorling commented on #65
Ok, thanks, I can reproduce this now. The topics endpoint doesn't exist in Kafka Connect 2.4 yet. So we should make sure to only query it if it actually supported by the backend version in question. @SiddiqueAhmad, @karim-elngr, perhaps something interesting for one of you to pick up, if you're still interested?

[2021-09-01 18:14] SiddiqueAhmad commented on #65
I am interested just taking up new job so kind of occupancy. I will do it asap.

[2021-09-01 21:30] gunnarmorling commented on #65
Congrats on the new job, @SiddiqueAhmad! And no worries, I thought I'd ping you just in case.

[2021-09-02 21:07] gunnarmorling commented on #23
Done.

[2021-09-02 21:07] #23 closed

[2021-09-03 18:28] tonyfosterdev commented on #17
I would love to see this!

[2021-09-04 17:31] gunnarmorling commented on #17
Same, same :) So far, no one has found the bandwidth for implementing it. It'd be a very valuable contribution.

[2021-09-04 18:28] tonyfosterdev commented on #17
I'm taking this up as time permits.

Fwiw, I'm not a Java dev, so will likely want someone more experienced to look it over closely.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 4, 2021, 1:31 PM, Gunnar Morling wrote:

[2021-09-04 18:50] gunnarmorling commented on #17
No worries, I'm sure we'll get it sorted out one way or another.

As a first step, I'm curious how a solution should look like. There's the concept of "contexts" in kcctl, which lets you switch between different named Kafka Connect environments, e.g. "local", "staging", "prod". Details of the contexts are stored in a file _~/.kcctl_ (KC URL, but also Kafka bootstrap servers for the upcoming offset

[2021-09-04 19:03] tonyfosterdev commented on #17
My naive first run at this is putting it in .kcctl in plain text, or possibly in files in a vendor folder.

Quarkus has a CredentialManager we can build on, and that would make it easier to support many methods from there.

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 4, 2021, 2:50 PM, Gunnar Morling wrote:

[2021-09-05 03:03] tonyfosterdev commented on #17
I dug into how kubectl used basic auth. This page lays it out well: https://unofficial-kubernetes.readthedocs.io/en/latest/concepts/cluster-administration/authenticate-across-clusters-kubeconfig/#example-kubeconfig-file

The credentials are stored plaintext. It may be nice, down the road, to use a cred store that is native to the OS, but that would require a few implementations.

[2021-09-06 16:55] tonyfosterdev commented on #17
PR for this is here for review: https://github.com/kcctl/kcctl/pull/68

[2021-09-09 20:25] sfc-gh-japatel commented on #2
@helpermethod apologies, I have been busy lately. I don't think I will be able to do this at least for this month.  Feel free to grab this if you have bandwidth! Also, thanks for #24

[2021-09-17 14:24] gcpcloudreddy commented on #65
Hi @gunnarmorling

just wanted to know If above issue fixed ....

[2021-09-17 14:27] gunnarmorling commented on #65
Hey, nope, no news here yet. Perhaps you'd be interested in sending a PR
with the fix yourself? It's a fairly easy fix, great to get started diving
into the code base :)

[2021-09-17 14:54] gcpcloudreddy commented on #65
Oh i see, Haa sorry to say am not at all coding guy so far...
I just work on Infra side tools like ansible , jenkins

[2021-09-27 05:07] SiddiqueAhmad commented on #65
@gunnarmorling  thanks for your wishes, and today I got time so sent the pull request, please review and comment

[2021-09-27 05:57] SiddiqueAhmad commented on #61
@gunnarmorling please review

[2021-09-27 07:24] SiddiqueAhmad commented on #19
#75 is sent, it is WIP, but can be merged so far

[2021-09-27 08:00] gunnarmorling commented on #65
Applied. Thx a lot, @SiddiqueAhmad!

[2021-09-27 08:02] gunnarmorling commented on #61
Fixed.

[2021-09-27 08:02] #61 closed

[2021-09-29 15:29] gcpcloudreddy commented on #65
Thank you @SiddiqueAhmad  @gunnarmorling , let me test all use-cases again , Have a good day

[2021-09-29 15:31] gcpcloudreddy commented on #65
$ kcctl get connectors
javax.ws.rs.ProcessingException: RESTEASY003145: Unable to find a MessageBodyReader of content-type text/html and type class dev.morling.kccli.service.ErrorResponse
	at org.jboss.resteasy.core.interception.jaxrs.ClientReaderInterceptorContext.throwReaderNotFound(ClientReaderInterceptorContext.java:47)
	at org.jboss.resteasy.core.interception.jaxrs.AbstractReaderInterceptorCo

[2021-09-29 15:31] gcpcloudreddy commented on #65
Am seeing above error for get connectors, describe works fine

[2021-10-08 23:26] tonyfosterdev commented on #17
@jmcristobal I believe you should be all set now. This PR is merged.

[2021-10-08 23:28] tonyfosterdev commented on #2
I can have a look at this if it's still open.

[2021-10-09 07:12] #17 closed

[2021-10-09 07:20] gunnarmorling opened #81 "`kcctl config set-context` doesn't update current context"
If you run `kcctl config set-context ...` to create a new context, it doesn't actually change to that context as the active one, despite saying the contrary on the console.

[2021-10-09 07:21] gunnarmorling commented on #81
There's potentially related and pending PR #75, but I don't think it fixes this issue.

[2021-10-09 20:08] gunnarmorling commented on #81
Done.

[2021-10-09 20:08] #81 closed

[2021-10-10 08:20] #19 closed

[2021-10-10 09:19] gunnarmorling commented on #8
How is your evening going, @helpermethod? :-)

[2021-10-10 09:21] gunnarmorling opened #83 "Handle attempt to delete non-existing connector gracefully"
Currently we print the entire exception, but only the error message should be shown, as this not an exceptional situation.

[2021-10-12 08:27] gunnarmorling commented on #25
Done.

[2021-10-16 07:25] gunnarmorling commented on #36
@SiddiqueAhmad, the idea was to have auto-completion also for the attributes themselves:

    kcctl patch etcd-test -s tas<TAB>... # completes to tasks.max=

Do you think that's doable?

[2021-10-16 07:57] SiddiqueAhmad commented on #36
yes why not

[2021-10-22 09:01] gunnarmorling opened #89 "Upgrade to Java 17 and GraalVM 21.3.0 on CI"

[2021-10-22 09:14] #89 closed, assigned to gunnarmorling

[2021-11-03 20:52] gunnarmorling opened #95 "Support using authenticated Kafka clusters"
Hey @tonyfosterdev, IIRC, you wanted to give this a try; still up for it?

[2021-11-04 13:30] tonyfosterdev commented on #95
Sure, I'll try to get on this when I can.

I've only used authenticated confluent clusters. Are there other types we should support?  I'll.do a little research

[2021-11-07 19:50] tonyfosterdev commented on #95
@gunnarmorling what's the current use case for this, I want to make sure I run through that.

[2021-11-07 19:52] tonyfosterdev commented on #95
I think #2 may make sense as a use case

[2021-11-08 09:45] gunnarmorling commented on #95
Yes, exactly; displaying (and resetting) connector offsets would be the only time where Debezium directly interacts with Kafka Connect. In terms of auth types, the one I'd personally be interested in is SASL/PLAIN, as it's used by Red Hat's [managed Kafka offering](https://access.redhat.com/documentation/en-us/red_hat_openshift_streams_for_apache_kafka/1).

In terms of priorities, I think the actu

[2021-11-08 11:20] tonyfosterdev commented on #95
Sounds good, I've started working on it, will report back!

Sent from ProtonMail mobile

-------- Original Message --------
On Nov 8, 2021, 4:45 AM, Gunnar Morling wrote:

[2021-11-08 12:57] gunnarmorling commented on #95
Sweet. Meant to say "where kcctl interacts with Kafka" above btw; still was early in the morning :)

[2021-11-09 19:00] tonyfosterdev commented on #2
@gunnarmorling @helpermethod @sfc-gh-japatel

How would we want this to look? I'm not super familiar with how task offsets work, as a task could be consuming multiple topics/partitions. How do I know a particular task is associated with a particular partition?

In either case, I've got some code happening in a PR for #95 that will enable this feature. I'm playing with the admin client currently, a

[2021-11-09 19:07] gunnarmorling commented on #2
That's a good point; partitions are assigned to tasks upon connector start-up (it also can happen dynamically at runtime even), so the better term here would be "partition offsets". You could have a look at [kcetcd](https://github.com/gunnarmorling/kcetcd), a source connector which supports multiple tasks, for playing with the offsets. In order to obtain the information, you'd read the offsets top

[2021-11-09 19:15] tonyfosterdev commented on #2
Ok, that makes more sense.

Yo make sure we are on the same page, though, we would not be able to list the partition offset with the particular task it's a associated to (unless that information is available somewhere?) but can handle showing offsets for the topics and partitions.

Would it make sense to add a new section to the describe output to handle that?

Sent from ProtonMail mobile

-------

[2021-11-09 19:25] gunnarmorling commented on #2
Right, I don't think we can. At least I'm not sure how we could obtain the partition-to-task mapping

Yes, that sounds reasonable. We may make it opt-in (akin to the already existing `--tasks-config`).

[2021-11-09 21:35] helpermethod commented on #2
@tonyfosterdev You may find a few pointers [here] (https://github.com/helpermethod/connor/blob/main/src/main/java/com/github/helpermethod/connor/OffsetResetter.java).

I would love to help more but my life is currently a mess and it's hard to keep up with regular work to be honest 😞. Sorry @gunnarmorling!

[2021-11-09 22:53] gunnarmorling commented on #2
No worries at all, @helpermethod; this should be a fun project for all of us, no obligations whatsever. Wishing you all the best for dealing with whatever you need to deal with. When (and if) you'd like to return and contribute, you will be welcome to do so.

[2021-11-12 19:27] gunnarmorling commented on #95
Done via #96. Thx, @tonyfosterdev!

[2021-11-12 19:27] #95 closed

[2021-11-14 03:41] tonyfosterdev opened #98 "Output formats"
It would be cool to enable various format options for output. We could call the current format "human", but json would be cool too.

Kubectl supports this with the -o flag.

The main use case here would be to allow for scripting support in conjunction with tools like jq.

[2021-11-14 17:09] gunnarmorling commented on #98
Great idea!

[2021-11-15 14:49] tonyfosterdev opened #99 "Correcting namespaces"
We should update the namespaces to match what @gunnarmorling intended.

org.moditect* should be org.kcctl*

PR incoming.

[2021-11-15 15:20] gunnarmorling commented on #99
Done.

[2021-11-15 15:20] #99 closed

[2021-11-17 23:36] tonyfosterdev opened #101 "Support for retrieving REST API credentials from third parties"
A workflow I've encountered is that some folks may want to retrieve API credentials (username and password) from a secret store, like AWS secrets manager or Vault.  I'm curious how we could support this in a general way. We don't want to have to keep storing these locally.

I seem to remember kubectl supporting a cmd authentication style which would allow for an arbitrary command to execute and re

[2021-11-19 22:53] gunnarmorling opened #102 "Support new restart semantics in Kafka 3.0"
Kafka Connect 3.0 has the ability to restart all the failed tasks of a connector:

    POST /connectors/{name}/restart?includeTasks=<true|false>&onlyFailed=<true|false>

More info:

* https://cwiki.apache.org/confluence/display/KAFKA/KIP-745%3A+Connect+API+to+restart+connector+and+tasks
* https://github.com/apache/kafka/pull/10975

The existing `kcctl restart connector <name>` command should be en

[2021-11-19 22:53] gunnarmorling commented on #102
// CC @tonyfosterdev

[2021-11-20 17:11] tonyfosterdev commented on #102
That is a nice feature.  I'll look at it over the next few weeks

[2021-11-24 08:44] gunnarmorling commented on #2
Hey @tonyfosterdev, are you still interested in picking this one up? I think it's the most valuable feature we have in the backlog. Happy to give it a shot myself too, if you think you won't get to it in the foreseeable future.

[2021-11-24 10:57] tonyfosterdev commented on #2
Go ahead and give it a shot. I'm a bit swamped for the next little while through the holidays.

Thanks!

Sent from ProtonMail mobile

-------- Original Message --------
On Nov 24, 2021, 3:44 AM, Gunnar Morling wrote:

[2021-11-25 18:48] iabudiab opened #105 "File path should match the package declarations"
Commit 5839388ba4c78d9dd6e2f9ea2958772dd2aef783  renamed `org.moditect` to `org.kcctl` throughout the whole project, but the top level folder wasn't updated accordingly. Maven build passes however the IDEs (in my case IntelliJ) would complain and fail to compile with this error: `Package name 'org.kcctl.command' does not correspond to the file path 'org.moditect.kcctl.command'`.

[2021-11-25 21:13] #105 closed

[2021-11-26 08:01] helpermethod commented on #2
Hi @gunnarmorling,

if it's okay for you I'll give it another try. Got a little bit of spare time on my sleeves.

[2021-11-26 08:55] gunnarmorling commented on #2
Sure, your contribution will be more than welcome. Let me know though in
case you reconsider again, so I or Tony can pick it up; would love to see
this out eventually. Thanks!

[2021-11-27 10:53] gunnarmorling opened #107 "Allow multiple connectors to be created/updated with kcctl apply"
It should be possible to provide multiple files:

    kcctl apply --f my-connector1.json --f my-connector2.json

    Created connector my-connector1.
    Updated connector my-connector2.

An open question is how to deal with names if not provided within the files.

[2021-11-27 11:12] gunnarmorling opened #108 "Provide ability to compare existing connector configuration to new one"
Say I have a file my-connector1.json, I'd like to easily find out if this differs from an already instantiated connector, and if so, how. The differing configuration attributes (if any) should be marked e.g. in bold in the output. This could be part of _kcctl apply -f my-connecto1.json --dry-run_ probably.

[2021-11-27 11:18] gunnarmorling opened #109 "Display connector metrics"
Let's explore how metrics from Kafka Connect and connectors could be retrieved and displayed. For instance, the Debezium connectors offer a variety of JMX metrics. JMX isn't supported though in GraalVM native images, so we'd likely have to rely on export via HTTP, e.g. using [JMX Exporter](https://github.com/prometheus/jmx_exporter).

[2021-11-28 19:56] gunnarmorling commented on #83
The command should return 1 when trying to delete a non-existent connector (i.e. KC replied with 404) and print out the error message. So far, we've printed out all messages on stdout, so I think we should keep doing that.

[2021-11-29 12:49] #83 closed

[2021-11-29 21:36] gunnarmorling opened #113 "Upgrade to Java 17"

[2021-11-29 21:44] #113 closed

[2021-11-30 05:46] helpermethod commented on #2
Hi @gunnarmorling,

I wonder if task offsets may be stored in other formats as JSON?

[2021-11-30 10:02] gunnarmorling commented on #2
In theory yes, as internal converters are pluggable. But this has been [deprecated since Kafka 2.0](https://cwiki.apache.org/confluence/display/KAFKA/KIP-174+-+Deprecate+and+remove+internal+converter+configs+in+WorkerConfig) and might even have been removed with 3.0 (not sure about this one though). So for all practical purposes, I think we're fine to assume the offset topic contents is JSON, and

[2021-11-30 15:59] gunnarmorling commented on #2
Isn't the partition name part of this too? In fact, this issue should
probably be named "Display partition offsets", as partitions can be
shuffled between tasks and I don't think we can easily (if at all) find out
about the current assignment. You can take the kcetcd connector (
https://github.com/gunnarmorling/kcetcd/) as an example for a multi-task
connector and take a look at the format.

I hav

[2021-12-01 10:52] Thomas-Dangleterre opened #116 "Kcctl apply - Read from stdin"
Hi,

It would be nice to be able to read the connector configuration from stdin when calling `kcctl apply`.

As --file option is required, it might be handled like Kubernetes by reading stdin when the option is equals to "-" :

cf the kubectl [doc](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#apply) :

[2021-12-01 11:33] gunnarmorling commented on #116
Interesting proposal; do you have a specific use case in mind for this? Some kind of dynamically generated config perhaps? In any case, seems like a reasonable idea to support reading config from stdin, alone for being a good CLI citizen. Wanna give it a try?

[2021-12-01 12:04] Thomas-Dangleterre commented on #116
Yes, our connectors' configurations are injected to our pods as environnement variables.

I will gladly provide a PR :)

[2021-12-01 12:29] helpermethod commented on #14
Hi @gunnarmorling!

Do you need any help to bring this over the finish line? Would be awesome to be able to `sdk install kcctl`!

[2021-12-01 12:44] gunnarmorling commented on #14
Thanks for the reminder; Originally, I had meant to wait with this until we have the offset display/reset features, but on second thought I think what we have is worthy of a first release and distribution through more channels. So I've just requested the deploy credentials and will create those secrets mentioned by @aalmiray above, once I have heard back. I think then it's a question of the right

[2021-12-01 12:59] gunnarmorling commented on #116
Excellent, thanks a lot and looking forward to the PR! Out of curiosity, couldn't you expose those connector configs as a config map alternatively? And as you are running on Kubernetes, have you looked into using [Strimzi](https://strimzi.io) for deploying Kafka, Connect, and connectors via custom resources? Not that I want to argue against the proposed change (I really like it), just curious abou

[2021-12-01 13:24] Thomas-Dangleterre commented on #116
We use Helm with the image :  confluentinc/cp-kafka-connect on GKS, we did this as we copied the way we deploy our apps. We also use Vault not only as a secret manager but also as a configuration manager ( thanks to banzai cloud ) so that's why our connectors' configurations are injected as env variables.

I will take a look at Strimzi, Thanks.

[2021-12-01 14:03] gunnarmorling commented on #116
And applied, great improvement! Thanks, @Thomas-Dangleterre!

[2021-12-01 14:03] #116 closed

[2021-12-05 12:28] gunnarmorling commented on #14
@aalmiray, so what's needed in terms of configuration for actually releasing a first stable version of kcctl; can I actually run that _release_ workflow and cut a 1.0.0.Alpha1 release?

[2021-12-05 12:51] gunnarmorling commented on #14
Ok, PR for adding a "candidate" to SDKMan has been created: https://github.com/sdkman/sdkman-db-migrations/pull/562. Waiting for the API keys now.

[2021-12-05 19:41] aalmiray commented on #14
@gunnarmorling once you get the Sdkman credentials we have to:
1) update the root `pom.xml` to activate the sdkman packager
2) update `release.yml` with 2 additional environment variables as mentioned earlier https://github.com/kcctl/kcctl/issues/14#issuecomment-879676913

[2021-12-06 07:58] helpermethod commented on #2
Hi @gunnarmorling,

I'm mostly done with the implementation and hope to finish it within the next few days.

[2021-12-06 08:22] gunnarmorling commented on #2
Excellent, great news! Looking forward to the PR!

[2021-12-06 08:22] gunnarmorling commented on #2
Also feel free to share an unpolished "Draft" PR early on, if you want some
quick feedback. Thanks!

[2021-12-08 21:39] gunnarmorling commented on #2
@helpermethod, I did get the SDKMan access set-up btw., so we could release a first stable release any time soon. Is it still worth waiting to get this one in, or rather not?

[2021-12-10 06:45] helpermethod commented on #2
Hi @gunnarmorling , I hope to get this in a more or less finished state today, but feel free to cut a first release before I'm finished!

[2021-12-10 11:40] helpermethod commented on #2
Hi @gunnarmorling ,

two last (?) questions 😄. Should `offsets`or `partition-offsets` be a subcommand of `describe`?

And is showing a table with `partition` and `offset` columns enough? Or would it also help to display the `key`?

[2021-12-10 14:01] gunnarmorling commented on #2
How about we show this as part of `kcctl describe connector <my-connector>`? There could be a new section "Offsets", between "Tasks" and "Topics". If it's slow to retrieve that information, this could be opt-in via some parameter to that command. If the broker and offset attributes are not configured for the current context, an informational text should be printed out, stating that fact and also e

[2021-12-10 14:06] helpermethod commented on #2
Perfect! But what do you mean by partition name? Aren't partitions just numbered?

[2021-12-10 14:48] gunnarmorling commented on #2
Ok, I think I realize now that we may have been talking about different things in this thread.

What I always had in mind here are the offsets of _source_ connectors, as persisted in the Kafka Connect specific [offset topic](https://rmoff.net/2019/08/15/reset-kafka-connect-source-connector-offsets/). These offsets describe the progress a connector has made in its _source partitions_, i.e. connecto

[2021-12-10 15:21] helpermethod commented on #2
Yes, I understood that we we're talking about connector-specific offset topics (and not consumer offsets), but wasn't aware that the task-specific offset was stored in the key. I guess the key struct is different for each connector, but it should be possible to extract and display it.

[2021-12-10 15:33] gunnarmorling commented on #2
Ok, cool. Let's start with source offsets then.

[2021-12-14 12:53] jornh commented on #98
@tonyfosterdev at least for the `describe` command as a workaround you can use [`yq`](https://mikefarah.gitbook.io/yq/usage/convert) to convert to json - as the format you call "human" is actually `yaml`.

There is _one caveat_ though. The yaml has color codes in some places which yq chokes on. To get past that we need another workaround and use `sed to strip that out. The end result:

[code]

[2021-12-19 11:13] gunnarmorling commented on #14
Hey @aalmiray, I have set up the two repository secrets as discussed before. Could you apply the required changes to the POM and JReleaser config?

[2021-12-19 11:15] gunnarmorling commented on #2
Hey @helpermethod, any news here?

[2021-12-19 11:21] gunnarmorling commented on #37
With kcctl being installable via SDKMan soon, we should now add that ability to create the completion script via _kcctl create-completion_. Otherwise, users won't have an easy way for obtaining the completion script.

[2021-12-19 16:20] gunnarmorling commented on #14
Woohoo, kcctl is now available on SDKMan! Thank you so much, @aalmiray! Please hold off with sharing the good news more widely, I am planning to announce it properly in blog post tomorrow.

[2021-12-19 16:20] #14 closed

[2021-12-19 16:39] gunnarmorling opened #124 "kcctl info shouldn't show stacktrace if Connect isn't reachable"

[2021-12-19 21:16] #124 closed

[2021-12-19 21:24] gunnarmorling commented on #98
That's an interesting observation, @jornh. Note that the YAML output for describe is mostly incidental though, it was not a conscious decision and we may derive from this being YAML in some cases.

[2021-12-21 05:37] helpermethod commented on #2
Hi @gunnarmorling, I'm still in it, just need a small block of uninterrupted silence to wrap things up 😁.

[2021-12-21 19:50] gunnarmorling opened #127 "Deploy to Home Brew"

[2021-12-21 20:09] aalmiray commented on #127
Fixed with https://github.com/kcctl/kcctl/pull/128

[2021-12-21 21:02] #127 closed

[2021-12-22 07:03] gunnarmorling commented on #2
Ok, sounds good. If needed, I'll also be happy to move this over the finishing line; just create a draft PR with what you got so far in that case.

[2021-12-22 20:00] sudoHackIn commented on #6
Hi, @gunnarmorling. Is it still actual?
Am i correctly understand, that for this issue, we should create EtcdSourceConnector config file example with all existing properties, grouped by?

[2021-12-22 20:09] gunnarmorling commented on #6
Hey @sudoHackIn, yes, this one is still up for grabs, if you'd like to give it a shot.

So I was showing the EtcdSourceConnector configuration mainly as an example for which kinds of properties exist in general, and how the output could look like (I often use the etcd connector for demos, mainly because it supports multiple source tasks; there's a Compose file for starting up a few etcd clusters [

[2021-12-22 20:13] gunnarmorling commented on #6
Groups would be these for a starter:

* regular connector config properties
* converters (and header converters) and their properties
* SMTs and their properties
* topic creation setttings

As a follow-up, we may also think about grouping connector properties themselves (as Kafka Connect allows to organize them in field groups), but I think this could be handled separately.

[2021-12-22 20:54] sudoHackIn commented on #6
Sorry, i am also very new to kafka connect, so still cannot fully understand this issue :( So the task is to document and write down(grouped by) available properties for better and easy connector "structure" understanding? Without parsing and config validation code change?
Because, as i understand in ApplyCommand(https://github.com/kcctl/kcctl/blob/c0c6e473264da93fddd491fd9e28fb85fb5b9a22/src/main

[2021-12-22 21:07] gunnarmorling commented on #6
No worries, I see how the issue description is lacking some context.

So this is about improving the _output_ of the `kcctl describe connector <NAME>` command (as you say, when _creating_ a connector via `kcctl apply`, the configuration must be passed as-is). Currently, all the properties will be shown in one continuous list of key/value pairs, as seen in the `Config` section [here](https://youtu.

[2021-12-22 21:17] sudoHackIn commented on #6
Yes, clearly, thanks) will start working on the issue tomorrow

[2021-12-23 10:24] hartmut-co-uk commented on #127
by the way I'm getting

![image](https://user-images.githubusercontent.com/10864443/147226820-e98b89bd-28e5-4413-b790-b367641a6d03.png)

[2021-12-27 22:44] gunnarmorling opened #134 "Ship x86 binary for macOS/AArch64 (HomeBrew)"
This should just work due to the Rosetta emulation in macOS on the M1.

[2022-01-03 09:52] gunnarmorling commented on #2
Hey @helpermethod, not to be pushy, but how about you create a draft PR with your work so far, so that I or someone else can wrap it up? I really would love to get this done. Thx!

[2022-01-05 10:44] ruurd opened #137 "Consider Homebrew support for macos"
Would you consider adding a brew recipe for this application please?

[2022-01-05 10:52] gunnarmorling commented on #137
Hi, this already exists, please see [here](https://github.com/kcctl/kcctl#installation):

    brew install kcctl/tap/kcctl

That's for macOS/x86 only though; if you're on the M1 (AArch64), that's on our todo list, see https://github.com/kcctl/kcctl/issues/134.

[2022-01-14 19:49] hguerrero opened #142 "The defaul protocol for the cluster URL is not defined"
When creating a context with

`kcctl config set-context --cluster localhost:8083 local`

If you type `kcctl info` you get an error message:

[code]

Looks like you need to define like this to make it work:

`kcctl config set-context --cluster http://localhost:8083 local`

Expected:

kcctl will use HTTP as default protocol if non provided.

[2022-01-15 09:55] gunnarmorling commented on #2
Ok, so I think I am going to work on this, as I haven't heard back on this for multiple weeks.

[2022-01-22 18:05] #44 closed

[2022-01-22 18:06] gunnarmorling commented on #137
Closing, as we already have this.

[2022-01-22 18:06] #137 closed

[2022-01-22 18:09] gunnarmorling opened #145 "Refactor Testcontainers integration into Quarkus test resource"
See PR https://github.com/kcctl/kcctl/pull/110, its disucssion, and the linked branches by @iabudiab in [this comment](https://github.com/kcctl/kcctl/pull/110#issuecomment-1008474366). Instead of providing test resources via a base class, the more idiomatic way in Quarkus would be to create a test lifecycle resource or "dev service" even.

[2022-01-22 18:11] gunnarmorling commented on #44
That's done now thanks to a heroic effort by @iabudiab 🎉 .

[2022-01-22 18:16] gunnarmorling opened #146 "Docker build fails for EarlyAccess job"
See https://github.com/kcctl/kcctl/actions/runs/1733660149

I suppose the GraalVM build environment doesn't have Docker installed.

[2022-01-22 18:18] gunnarmorling commented on #146
Hey @aalmiray, that one is interesting. I am wondering how this actually worked for the regular Maven workflow (see [here](https://github.com/kcctl/kcctl/runs/4908246120?check_suite_focus=true)); it's not that we'd install Docker there either 🤔 .

[2022-01-22 18:30] aalmiray commented on #146
Did something change recently with Docker when using the GH hosted runners?

[2022-01-22 18:52] gunnarmorling commented on #146
Nothing I'm aware off. In particular since this just runs fine for the regular Java build, which uses the same OS base image AFAICS. Weird.

[2022-01-22 18:57] aalmiray commented on #146
Yes, considering this was working perfectly fine just a few days ago

This issue is 2 years old https://github.community/t/why-is-docker-not-installed-on-macos/17017

[2022-01-22 18:58] gunnarmorling commented on #146
Yeah, I suppose the issue is that Docker support may be lacking on the Windows and macOS runners. In the EA job, the Windows one failed, and then the other two got canceled. The Maven job only runs on Linux (which has Docker), and thus passed.

[2022-01-22 19:00] gunnarmorling commented on #146
Ah, sorry, I should have said that earlier: These tests requiring Docker are new, I just merged that PR an hour ago.

[2022-01-22 19:02] aalmiray commented on #146
I see. Might need to disable them based on OS = macos and CI = true, that is you do want test to run locally but not on GitHub. I bet Junit5 has an option for that.

[2022-01-22 19:04] gunnarmorling commented on #146
Yeah, something like that. I think I know what to do. Thanks for thinking it through with me!

[2022-01-22 19:05] aalmiray opened #147 "Switch build to graalvm/setup-graalvm"
https://github.com/marketplace/actions/github-action-for-graalvm is the officially supported GH action for GraalVM.
It can install the `native-image` component and setup the Windows environment when needed, simplifying our current setup.

[2022-01-22 20:15] gunnarmorling commented on #146
Ok, it's working now; need to skip the Docker-based tests on macOS and Windows.

[2022-01-22 20:16] gunnarmorling commented on #146
Not super-excited about [that solution](https://github.com/kcctl/kcctl/blob/main/.github/workflows/early-access.yml#L67-L73), but it's the easiest I found. I rather wanted an inline if/else within the `run` step, but I couldn't find a syntax that'd work on Powershell, too.

[2022-01-22 20:19] gunnarmorling opened #149 "Run tests with native binaries"
See here: https://quarkus.io/guides/getting-started-testing#native-executable-testing

[2022-01-22 20:20] #146 closed

[2022-01-22 20:33] aalmiray commented on #146
Did you try setting `shell: bash`?

[2022-01-22 20:39] gunnarmorling commented on #146
Hum, no, didn't know that this is an option.

[2022-01-22 22:21] aalmiray commented on #146
Yup https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell

[2022-02-05 09:46] SiddiqueAhmad commented on #102
I am on this

[2022-02-05 16:28] #147 closed

[2022-02-12 10:13] gunnarmorling opened #161 "EA build failing"
The early access build is failing since moving to the official GraalVM GH Action:

[code]

[2022-02-12 10:13] gunnarmorling commented on #161
@aalmiray, does this ring a bell? Do you have a working example of using this action by any chance?

[2022-02-12 10:14] gunnarmorling commented on #161
// CC @SiddiqueAhmad ; we may have to revert that change if we don't find a solution.

[2022-02-12 10:25] gunnarmorling commented on #161
Ok, seems a version update resolves this: https://github.com/kcctl/kcctl/commit/ec4b12e954376438dd78f382390f06c16d7297bc.

[2022-02-12 10:27] gunnarmorling commented on #161
Done.

[2022-02-12 10:27] #161 closed

[2022-03-01 11:57] juanlucruz commented on #98
I am lacking this issue exactly. I've tried with the workaround using yq but it's not working for me. Thanks anyway for the wonderful tool Gunnar!

[2022-03-07 02:34] sfc-gh-japatel opened #168 "kcctl doesnt work with JDK 1.8"
Hello,
I tried using JDK 1.8
[code]
It works fine with JDK 11. I guess because io/quarkus/bootstrap/runner/QuarkusEntryPoint requires JDK 11?

Is there another workaround?

Thank you!

[2022-03-07 08:17] gunnarmorling commented on #168
That's intentional, we don't aim for compatibility with Java 1.8. Given that the expected way of consuming kcctl is via the (self-contained) native binaries, we actually require Java 17 for building kcctl and it's also the classfile format version produced when building kcctl as a non-native JAR. Any reason for not using the native binaries? The experience is much better due to the much faster sta

[2022-03-08 02:33] sfc-gh-japatel commented on #168
That makes sense @gunnarmorling thanks! I added this in my zsh profile
[code]

I suppose I can just use the binary instead of using the built jar.

[2022-03-08 02:37] sfc-gh-japatel commented on #168
I will close this out, I fixed it by removing the alias. I did run brew install before that but it was somehow overridden by alias. Thank you!

[2022-03-13 09:40] #107 closed

[2022-04-29 04:41] arijitmazumdar opened #180 "Unable to connect to Kafka connect with self signed certificate"
Our kafka connect running with self signed certificate. While trying to Kafka connect getting following error. Where and how to add certificate to kcctl? I guess it will not solve if we add the certs in jvm.

[code]

[2022-04-30 02:25] arijitmazumdar commented on #180
With a little bit of study on GraalVM was able to solve the issue. Refer - https://www.graalvm.org/22.1/reference-manual/native-image/CertificateManagement/#run-time-options. The command looks a little ugly but works fine.

[code]

[2022-04-30 02:25] #180 closed

[2022-05-24 12:40] harveyyue opened #182 "Want to sort the connector config info when executing the describe command"
kcctl describe connector  test_avro_source_v2

Name:       test_avro_source_v2
Type:       source
State:      RUNNING
Worker ID:  127.0.0.1:8083
Config:
  connector.class:                           io.debezium.connector.mysql.MySqlConnector
  database.history.kafka.bootstrap.servers:  localhost:9092
  database.history.kafka.topic:              history_test_avro
  database.hostname:

[2022-05-24 12:49] gunnarmorling commented on #182
Hey @harveyyue, nice to see you here! Can you elaborate a bit, what exactly would you like to have sorted, in which way? Note there's issue #6, which discusses grouping the output of the `kcctl describe` command; is that what you had in mind?

[2022-05-24 13:14] harveyyue commented on #182
Hi @gunnarmorling, haven't saw you for some time in debeizum community, in this case, I just want to make these properties  readable, we use ssl kafka with more relation ssl properies, it's hard to find some one from these mixed propeties.

[2022-05-24 13:27] gunnarmorling commented on #182
Hehe, yeah, I'm focusing on another project these days.

Could you perhaps send a (draft) PR with the change you have in mind? The `DescribeConnectorCommand` implementation is [here](https://github.com/kcctl/kcctl/blob/main/src/main/java/org/kcctl/command/DescribeConnectorCommand.java).

[2022-05-25 15:30] harveyyue opened #184 "Introduce a new "expand" api to request all connectors status and config info"
The expand url example:
localhost:8083/connectors/expand=status&expand=info
localhost:8083/connectors/expand=status
localhost:8083/connectors/expand=info

The status expand response json:

[code]

[2022-06-25 10:59] harveyyue opened #204 "The describe command meet a not existed connector and get the NPE instead of the available connectors"
Connector x not found. The following connector(s) are available:
java.lang.NullPointerException
	at org.kcctl.command.GetConnectorsCommand.run(GetConnectorsCommand.java:77)
	at org.kcctl.command.DescribeConnectorCommand.describe(DescribeConnectorCommand.java:183)
	at org.kcctl.command.DescribeConnectorCommand.call(DescribeConnectorCommand.java:94)
	at org.kcctl.command.DescribeConnectorCommand.cal

[2022-06-29 21:28] mimaison opened #207 "Add support for KIP-769"
[KIP-769](https://cwiki.apache.org/confluence/display/KAFKA/KIP-769%3A+Connect+APIs+to+list+all+connector+plugins+and+retrieve+their+configuration+definitions) allows listing all connector plugins and also retrieving their configuration definitions. kcctl should expose these features.

I've started working on it, hoping to have a PR soon

[2022-06-30 05:36] gunnarmorling commented on #207
Woot, woot. Looking forward to the PR. How were you thinking to expose this, via `kcctl describe plug-in SomePlugin`?

[2022-06-30 06:40] gunnarmorling commented on #204
Fixed by #205. Thx, @harveyyue!

[2022-06-30 06:40] #204 closed

[2022-06-30 08:34] gunnarmorling commented on #207
Sounds great!

That would work; alternatively, how about `kcctl get plugins --type={connector|converter|transformation|predicate|all}? I.e. providing some more fine-grained control over the returned plug-in types?

[2022-07-04 12:01] gunnarmorling opened #216 "kcctl info should log warning about lacking configuration context only once"
It currently prints that warning three times:

[code]

[2022-07-30 10:16] gunnarmorling commented on #182
Hey @harveyyue, is this one still open, or can we close it actually?

[2022-07-31 10:07] #182 closed

[2022-07-31 10:07] harveyyue commented on #182
closed.

[2022-09-07 22:36] sfc-gh-japatel opened #245 "Kcctl doesnt work on new M1 Macs"
kcctl doesnt work on M1 macs, any tricks to make it work?

[2022-09-07 22:36] sfc-gh-japatel commented on #245
@sfc-gh-rcheng

[2022-09-08 07:27] gunnarmorling commented on #245
Interesting, I would expect this to work actually, by means of the Rosetta emulation which whould should run the x86-64 binary as-is? In general it would be nice though indeed to have native Aarch64 binaries for M1/M2 too, but last time I checked, there was no way for building those via GH Actions. Not sure whether this has changed since then.

[2022-09-20 21:33] gunnarmorling opened #250 "kcctl apply -f should allow multiple files"
Either -f should be repeatable, or it should allow for passing multiple files at once. The latter should work with expansion in shells, e.g. `kcctl apply -f *-connector.json`. // CC @mimaison; this just occurred to me when using kcctl during a demo the other day.

[2022-09-29 15:44] harveyyue opened #253 "Set max width value for tasks column of GetConnectorsCommand"
Just want to adjust the column width 100 instead of default value 80, to avoid printing too crowded when some connector have multiple tasks.

[2022-10-13 07:15] gunnarmorling commented on #250
Hey @C0urante, it was really cool to meet you at Current last week! As you indicated potential interest in contributing to kcctl and were asking for issues to pick up, this one could be a candidate.

[2022-10-13 07:17] gunnarmorling opened #261 "Provide option to filter output of kcctl describe plugin"
Via `kcctl describe plugin` one can list all the options of a connector (or any other plug-in like SMTs). For connectors with a large config surface, such as Debezium's, the output can be a bit overwhelming though. It could be useful to be able to filter the output, e.g. when knowing the name of one option, or some word from its description. I thought of supporting `kcctl describe plugin --grep <s

[2022-10-13 07:17] gunnarmorling commented on #261
@C0urante, @mimaison, interesting for you folks perhaps?

[2022-10-13 11:14] rgo commented on #49
Hi @hguerrero , a little bit late but I do think it worth to have it documented somewhere (here at least).

To make it work, you only need to download it, add the extension zsh and save it here: ~/.oh-my-zsh/custom.

In a one-liner:

[code]

[2022-10-13 13:20] hguerrero commented on #49
That works @rgo

Is there a way to make this to the docs?

[2022-10-13 15:21] C0urante commented on #250
Hey @gunnarmorling! Great to meet you as well :)

It seems like `-f` is already repeatable as of https://github.com/kcctl/kcctl/pull/167, so I'm guessing the point of this issue is to explore whether that should be the only way to allow multiple filenames.

The shell globbing example does a good job of demonstrating why having to prepend each filename with `-f ` is inconvenient.

One question that

[2022-10-13 16:17] C0urante commented on #261
Yeah, this seems useful.

There are a few decisions we'd need to make:
1. Total search space: the issue description mentions searching by name and description. Would we want to also allow searching by other characteristics such as importance, group, or display name?
2. Configurable search space: would it make sense to hardcode search to use every possible space (name, description, etc.), or would

[2022-10-13 16:29] C0urante commented on #245
I was able to install and run the [1.0.0 early access release](https://github.com/kcctl/kcctl/releases/tag/1.0.0-early-access) on an M1 Mac with Rosetta by downloading the `kcctl-1.0.0-early-access-osx-x86_64.zip` artifact, removing the quarantine flag (as [described in the README](https://github.com/kcctl/kcctl/#installation)), then executing `bin/kcctl` in the unzipped directory.

TL;DR: It work

[2022-10-13 20:54] C0urante commented on #2
I've published a KIP that would add support for this to the Kafka Connect REST API; if anyone has the time to take a look, I'd be interested to hear people's thoughts: https://cwiki.apache.org/confluence/display/KAFKA/KIP-875%3A+First-class+offsets+support+in+Kafka+Connect

[2022-10-13 20:54] C0urante commented on #8
I've published a KIP that would add support for this to the Kafka Connect REST API; if anyone has the time to take a look, I'd be interested to hear people's thoughts: https://cwiki.apache.org/confluence/display/KAFKA/KIP-875%3A+First-class+offsets+support+in+Kafka+Connect

[2022-10-14 10:54] mdedetrich commented on #261
Add a --search-name flag that works like --search, except it searches exclusively by property name
Add a --search-description flag that works like --search, except it searches exclusively by property description
Make --search, --search-name, and --search-description all mutually exclusive

Another option would to make search a subcommand (see https://picocli.info/#_subcommands) which then has opti

[2022-10-14 13:56] C0urante commented on #261
I think the question is what the value of a `search` subcommand would be. I can't think of many cases where somebody would want to do something like "find all connectors that have a config property named `database.connection`". IMO a single command that filters the contents of `describe [plugin|connector|connectors]` would better address the more common use cases that we're anticipating for a feat

[2022-10-14 14:10] mdedetrich commented on #261
That is completely valid, I am not sure how full featured kcctl is meant to be. If you have a lot of options, generally (but not always) making a sub command makes sense however if you are just trying to cater for the most common queries it is overkill.

[2022-10-14 18:30] C0urante commented on #261
Well, I gave this a shot with https://github.com/kcctl/kcctl/pull/263. Guess we can give it a whirl and see how it feels. A lot of the internal logic should be possible to keep regardless of how we decide to expose it to the user.

[2022-10-16 08:44] gunnarmorling opened #265 "Make delete command more regular"
Right now, the command to delete a connector is `kcctl delete <connector name>`. This is rather irregular, as for all the other command, the resource to act on is to be given as a sub-resource, e.g. `kcctl pause connector <connector name>`. Arguably, this is a bit more to type for those cases where there only is one kind of matching resource, but I still believe this is the better approach for the

[2022-10-16 08:44] gunnarmorling commented on #265
@C0urante, curious about your take.

[2022-10-16 08:47] gunnarmorling opened #266 "kcctl describe plugin io.debezium.connector.mysql.MySqlConnector fails with exception"
Getting this exception when running `kcctl describe plugin io.debezium.connector.mysql.MySqlConnector`.

[code]

More an issue on the Connect side itself than anything else, but still worth exploring and hopefully fixing.

[2022-10-16 08:54] gunnarmorling commented on #245
Yes, that's observation, too. @sfc-gh-japatel, is this still an issue for you guys, or can we close this one?

[2022-10-16 08:58] gunnarmorling opened #267 "NPE when trying to register a connector of an unknown type"
[code]

[2022-10-16 09:17] gunnarmorling commented on #250
Ha, completely forgot about that. Just verified it, this already works indeed.

This goes back to the project's tag line "like kubectl, but for Connect". In kubectl, you can do either -f (which could be a file, or a directory; we probably should support the latter too), or -k (for a Kustomize directory). I guess having support for Kustomize, or something in that spirit, could make sense eventually

[2022-10-16 09:18] gunnarmorling opened #268 "kcctl apply -f should accept directories"
When the provided file name denotes a directory, all the *.json files in that directory should be applied.

[2022-10-16 09:26] gunnarmorling commented on #2
Took a quick look at this KIP, exactly what we'd need. What's the timeline for this, 3.4? The question then would be, whether we should exclusively rely on this feature, or fall back to directly reading/writing the offsets topic for earlier versions.

[2022-10-16 09:36] gunnarmorling commented on #261
Wow, thank you so much for this great discussion and the PR! Checking out the PR now.

In regards to a search sub-command vs. it being a flag to the describe sub-command, I'm leaning towards the latter. Feels more regular to me, also I think discoverability is better that way.

[2022-10-16 10:41] gunnarmorling opened #269 "Tab completion for `kcctl config get-context` is broken"
When tabbing at `kcctl config get<TAB`, it doesn't complete to `kcctl config get-context`, but rather to `kcctl config target/` (there is a `target` folder in the current working directory in this case).

[2022-10-18 16:40] C0urante commented on #265
Totally agree--it threw me the first time I tried to delete a connector that I didn't have to specify the resource type 👍

[2022-10-18 20:48] C0urante commented on #261
Can we close this one now?

[2022-10-18 20:52] gunnarmorling commented on #261
Yupp, this looks like done. We can log and work against follow-up issues if further improvements, like search on more attributes, is needed. Thx again!

[2022-10-18 20:52] #261 closed

[2022-10-18 21:02] gunnarmorling commented on #184
Closing as done, forgot about that before. Thx, @harveyyue!

[2022-10-18 21:02] #184 closed

[2022-10-18 21:04] gunnarmorling commented on #109
@C0urante, here's another one where I'd be very curious about your take. It's one of those going beyond the scope of what's doable with the KC REST API (nb., it wouldn't with my "K8s Native Connect" ideation, where metrics would be exposed via Micrometer or similar), but it could be very useful info to show, making kcctl truly a swiss army knive of KC.

[2022-10-19 08:26] mimaison commented on #266
Yeah I noticed this issue with most of the Debezium connectors. IIRC only Mongo worked.

[2022-10-31 07:36] barthand commented on #245
This might be a wrong place to report, but it fails for me to do a fresh installation of `kcctl` on M1 machine, neither using Homebrew nor SDKMAN.

Homebrew:
[code]

SDKMan (preceded with `sdk update`):
[code]

This might give user an impression that `kcctl` doesn't run on Apple Silicon, which is not true.

I suppose Homebrew part is tracked in #134, please let me know if I should report SDKMAN/an

[2022-10-31 11:34] MWin123 commented on #134
You can just remove the `Hardware::CPU.intel?` check in `kcctl.rb`, and it works on M1 MacBooks.

[2022-11-22 10:56] sebastienblanc commented on #245
I ran exactly into the same issue and by googling found this GH issue :)

[2022-11-22 17:50] antonmry commented on #245
I installed it in my Mac m1 with sdkman using a rosetta terminal. This is the process in case it can help others: https://apple.stackexchange.com/questions/428768/on-apple-m1-with-rosetta-how-to-open-entire-terminal-iterm-in-x86-64-architec

Once installed, it can be used in a regular terminal (I assume it's slower but it works well enough).

It would be good to add some warning about it in the RE

[2022-11-28 17:29] C0urante commented on #250
Hi @gunnarmorling--sorry for the delay! Option 2 sounds fine to me. I'll push something shortly.

[2022-11-28 21:16] gunnarmorling commented on #265
Done.

[2022-11-28 21:16] #265 closed

[2022-11-28 21:21] gunnarmorling commented on #250
@C0urante Awesome, thanks a lot!

[2022-11-28 21:21] #250 closed